.container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	nav {
		display: flex;
		padding: 0 12px;
		height: 45px;
	}

	ul {
		padding: 0;
		margin: 0;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	main {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 45px;
		text-align: center;
	}
}
